{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}

    <h1>Formula Fantasy Quiz</h1>
    <div class="container-bgimage">
        <div class="masthead">         
            <div class="color-overlay d-flex justify-content-center align-items-center">
                <div class="row">
                <div class="col-2" >
                <div class="col-10">
                    <h1 class="bgih1">
                    <b> F1 Fantasy</b>
                    </h1>
                </div>
                <div class="col-2" >
                <div class="col-2" >
                <div class="col-2" >
                </div>
            </div>
        </div>
    </div>
    <div class="containter center bgcol2"> 
        <br />  
        <form method="POST">
            <h2 class="cl"><b> A - Required (+2 point right answer, -1 point wrong answer)</b></h2>
            <hr/>
            <h3>
                <label>
                    <b>{{ form.hidden_tag() }}
                        {{ form.q1.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q1()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q2.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q2()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q3.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q3()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q4.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q4()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q5.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q5()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q6.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q6()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q7.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q7()}}
            </div>       
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q8.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q8()}}
            </div>       
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q9.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q9()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q10.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q10()}}
            </div>
            <hr>
            <h3>
                <label>
                    <b>
                        {{ form.q11.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q11()}}
            </div>
            {{ form.submit(class="login") }}
        </form>
    </div>
{% endblock %}