{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
    <div class="center">
    <h1><b> Formula 1 Fantasy Quiz</b></h1>
    <h3 style="font-weight: 600;">{{race_nr}}. {{next_race}}</h3>
    <h5>Please fill up the quiz. Good luck!</h5>
    </div>
    <div class="containter-fluid center bgcol2"> 
        <hr class="hr"/>  
        <form method="POST">
            <h2 class="cl"><b> A - Required (+2 point right answer, -1 point wrong answer)</b></h2>
            <hr >
            <h3>
                <label>
                    <b>{{ form.hidden_tag() }}
                        {{ form.q1.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q1()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q2.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q2()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q3.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q3()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q4.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q4()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q5.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q5()}}
            </div>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q6.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q6()}}
            </div>
            <hr class="hr"/>
            <h2 class="cl"><b> B - Optional (+2 point right answer,-1 point wrong answer, 0 points no answer)</b></h2>
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q7.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q7()}}
            </div>       
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q8.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q8()}}
            </div>       
            <hr />
            <h3>
                <label>
                    <b>
                        {{ form.q9.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q9()}}
            </div>
            <hr class="hr"/>
            <h2 class="cl"><b> C - Optional (+2 point right answer, 0 points no answer)</b></h2>
            <hr/>
            <h3>
                <label>
                    <b>
                        {{ form.q10.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q10()}}
            </div>
            <hr>
            <h3>
                <label>
                    <b>
                        {{ form.q11.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q11()}}
            </div>
            <h3>
                <label>
                    <b>
                        {{ form.q12.label }} </b>
                </label>
            </h3>
            <div style="padding:7px">
                {{form.q12()}}
            </div>
            <hr>
            {{ form.submit(class="login") }}
            <hr class="hr"/>
        </form>
    </div>
{% endblock %}